
body { 
    background: url(assets/white-brick-wall-desktop-background.jpg) no-repeat center center fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
  }
  a:visited{
    color: black
  }
  html {
  scroll-behavior: smooth;
  
}
body{
    font-family: 'Roboto', sans-serif;
}

.navigation{
    position: sticky;
    top: 0px;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  li:hover{
    background-color: black;
  }
  li a:hover{
    color: white
  }
  li {
    float: left; 
  width:20%;
  text-align:center;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  #firstLi{
    color:white;
    background-color: black;
  }
  .startInfo{
    height: 600px;
      text-align: center;
      margin-top: 200px
  }
  #project1{
    display: inline-block;
    border: 1px solid black;
    width: 70%;
    height: 30%;
    text-align: left

  }
  #project1 img{ 
      float:right;
    width: 200px;
    height: 200px;
  }
  #project1 li{
      width: auto;
      float: left;
      text-align: left
  }
  #PROJECTS{
    padding-top: 10%;
    text-align: center;
    margin-top: 300px;
  }
  .nav1{
    position: sticky;
    top: 0px;  
  }
  .nav1 li{
    width:33%;
  }
  .card-group{
    height: 600px;
  }
  .card-img-top{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
  }
.card img{
  transition: transform .2s;
}
.card:hover {
  transform: scale(1.1);
}

  .row {
    margin-top: 300px;
    text-align: center;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    
  }
  
  .column {
    flex: 25%;
    max-width: 14.2%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 50%;
    transition:transform .8s ease-in-out;
  }
  .column img:hover {
  transform: rotate(360deg);
  }
  
  
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  #CONTACT{
    height: 600px;
    padding-top: 1%
  }
  #contactWrapper{
    padding-top: 0%
  }
  .text-center{
    padding: 5px;
    text-align: center;
    margin-right: 27%
  }
  #submitButton{
    margin-left: 53.5%
  }
  #fieldset{
    display: inline-block;
    margin-left: 5%
  }
  #buttonForm{
    color: white;
    background-color: black;
    border: 0px
  }
.textContact{
  float:left;
  margin-left: 5%;
  margin-top: 3.5%
}
.form-control{
  width: 220%
}
#myP{
  visibility: hidden
}
#ABOUT{
  height: 600px;
  display:inline-block;
  text-align: center;
  margin-left: 27%
}
#aboutImg{
  border-radius: 50%;
  width: 30%;
padding-bottom: 20px
  
}
#TECHNOLOGIES{
  padding-top: 20%;
  padding-right: 0%
}
#aboutContent{
  margin-top: 30%;
  text-align: center
}
.text-center{
  margin-right: 45%
}